# Ignore node modules
node_modules/
package-lock.json

# Ignore log files
*.log

# Ignore system files
*.DS_Store
Thumbs.db

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment files
.env

